/* 
    General Styles
*/
.multiple-cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 20px;
  min-width: 300px;
  margin: auto;
  padding: 10px;
}
.card {
  max-width: 400px;
}
.title {
  color: red;
  text-align: left;
  padding-left: 70px;
}
